*{
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #f4f4f4;
}
/* 导航栏 */
.nav-link{
  font-size: 1.8rem;
}
/* 新闻内容 */
.news{
  margin: 2rem auto;
  width:124rem;
}
.news_title{
  font-size: 2.2rem;
  font-weight:400;
}
.content {
  margin-top:2rem;
  margin-bottom: 0.8rem;
  transition: all 0.3s linear 0s;
}
.content:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
}
.newsTop{
  height: 20rem;
  overflow: hidden;
}
@media (min-width:576px){
  .newsTop{
    height: 22rem;
  }
}
@media (min-width:768px){
  .newsTop{
    height: 18rem;
  }
}
@media (min-width:992px){
  .newsTop{
    height: 14rem;
  }
}
.newsTop img{
  transition: all 0.3s linear 0s;
} 
.newsTop img:hover{
  transform: scale(1.1);
}
.newtitle{
  padding: 1.5rem 1.2rem 0 1.2rem;
}
.newtitle a{
  text-decoration: none;
  color: #333;
  font: 1.4rem "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}
.newtitle a:hover{
  color: #e60000;
}
.newtitle +p{
  text-indent: 2em;
  margin-top: 1rem;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  color: #aaa;
  line-height:2.4rem;
}
.newtime{
  display: flex;
  justify-content: flex-end;
  padding-right:1rem;
  font-size: 1.2rem;
  color: #aaa;
}
/* 页尾 */
.yewei{
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background: #fff;
}
.yewei ul{
  list-style: none;
}
.yewei ul li{
  padding: .5rem 2rem;
}
.yewei ul li:first-child{
  font-size: 1.6rem;
  font-weight: bold;
}
.yewei a{
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
}
.yema{
  height: 5rem;
  margin-top: 1.5rem;
  font: 1.5rem "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}
.yema ul li:hover{
  background: #ddd;
}