@charset "gb2312";
/* 网站通用头部css文件
* Author: Keyschl
* Web:http://www.5vshop.com/
* Tel:0311-85315152 13102887321
*/
*{ margin:0; padding:0; font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";}
html,body{ width:100%; background:#f4f4f4;font-size:62.5%;}
ul{ list-style:none}
a{ text-decoration:none; color:#333}

.top{background-color: #484848; width:100%;min-width:1240px;font-size:1.4rem;margin:0 auto;}
.top_content{height: 36px; width:1240px; margin:auto;position: relative;}
.top_content>ul>li{ float:left;  margin-left:20px;}
.top_content>ul>li:nth-child(1){margin-left:0px;}
.top_content>ul>li>a{color: #ddd;line-height: 36px;transition: color .2s linear;}
.top_content>ul>li{color: #aaa;line-height: 36px;transition: color .2s linear;}
.top_content>ul>li>a:hover{color: #fff;}
.top_content>ul>li>span>a{padding-left:20px;color:#ddd;}
.top_content>ul>li>a>img  {margin:0;padding:0; vertical-align:middle;}


.nav{background-color: #fff; width:100%;margin:0 auto;min-width:1240px;font-size:1.6rem;}
.nav_content{width:1240px; margin:auto; height:80px;}

.nav_content>a>img{ float:left; height:80px;max-width:200px; }
.nav_link{ float:right}
.nav_link>li{ padding:0px 10px 0px 10px; height:80px; float:left; line-height:80px; text-align:center}
.nav_link>li>a{  display:block;}
.nav_link>li>a:hover{color:#FF6700}
.user{float:right}
.userlogo>img,.car>a>img{cursor:pointer; width:30px;}
.search {position: relative;margin: 25px 50px 0 10px;width: 220px;height: 30px;font-size: 1.2rem;
border-radius: 2px;border: 1px solid #ddd;}
.search input { border: 0;outline: 0;width: 160px;height: 20px;margin-left: 15px;transition: width .5s;font-size: 1.2rem;color: #333; float:left; margin-top:6px; }
.search .searchkeywords{ position:absolute ;top:7px;right:30px;margin-left:15px;font-size:14px; display:block;}
.search .searchkeywords a{padding:0px 4px 0px 4px; background:#fafafa;}
.search .searchkeywords a:hover{ background:#FF6700;}
.car,.userlogo{ position:relative;float:right;  margin-top:25px; margin-right:10px;}
.car span {position: absolute;top: 0px;right: -4px;height: 15px;border-radius: 50%;background: #c00;color: #fff;
line-height: 15px;text-align: center;display: inline-block;padding: 0 4px;text-indent: 0; font-size:1.2rem;}


.dropdown {
  position: relative;
  display: inline-block;
  color:#fff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index:9999;

}
.dropdown:hover .dropdown-content {
  display: block;

}